@primary : #6af2f0;
@primary-l: #62727b;
@primary-d: #0f8fad;
@primary-text: #ffffff;

@secondary: #e91e63;
@secondary-l: #ff6090;
@secondary-d: #b0003a;
@secondary-text: #000000;

@soft-text: rgba(0, 0, 0, 0.8);
@softer-text: rgba(0, 0, 0, 0.5);

@background: #effbfb;
@background-l: #EEEEEE;
@background-white: #fff;

@font-face {
    font-family: 'GTWalsheimMedium';
    src: url('../fonts/GTWalsheimMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTWalsheimMedium.woff') format('woff'),
        url('../fonts/GTWalsheimMedium.ttf') format('truetype'),
        url('../fonts/GTWalsheimMedium.svg#GTWalsheimMedium') format('svg');
}


@font-face {
    font-family: 'GTWalsheimProBold';
    src: url('../fonts/GTWalsheimProBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTWalsheimProBold.woff') format('woff'),
        url('../fonts/GTWalsheimProBold.ttf') format('truetype'),
        url('../fonts/GTWalsheimProBold.svg#GTWalsheimProBold') format('svg');
}


@font-face {
    font-family: 'GTWalsheimProLight';
    src: url('../fonts/GTWalsheimProLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTWalsheimProLight.woff') format('woff'),
        url('../fonts/GTWalsheimProLight.ttf') format('truetype'),
        url('../fonts/GTWalsheimProLight.svg#GTWalsheimProLight') format('svg');
}


@font-face {
    font-family: 'GTWalsheimProRegular';
    src: url('../fonts/GTWalsheimProRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTWalsheimProRegular.woff') format('woff'),
        url('../fonts/GTWalsheimProRegular.ttf') format('truetype'),
        url('../fonts/GTWalsheimProRegular.svg#GTWalsheimProRegular') format('svg');
}

/* Generic Styles */

body {
    font-family: 'GTWalsheimProRegular', sans-serif;
    margin: 0;
    background-color: @background-white;
    color: rgba(0, 0, 0, 0.87) !important;
    overflow: hidden;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px @background-white inset !important;

}



input,
textarea,
select form {
    font-family: 'GTWalsheimProLight', sans-serif !important;
    font-size: 1.1rem !important;
}

.boxshadownone {
    box-shadow: none !important;
}

.master input {
    padding: 8px 0 9px;
}

.d-block {
    display: block;
}

.title-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}


.MuiFormControl-marginNormal-3 // Consult Vishnu Ji

.legal-images-container {
    width: 30%;
}

.legal-images {
    width: 100%;
}

// To be removed

label,
p {
    font-size: 1rem !important;
    font-family: 'GTWalsheimProLight', sans-serif !important;
}

.fwidth {
    width: 100%;
}

/* Global */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.width-100-percent {
    width: 100%;
}

.align-center {
    align-items: center
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between
}

.justify-flex-end {
    justify-content: flex-end;
}

.cursor-pointer {
    cursor: pointer;
}

.master h1 {
    font-size: 1.8rem;
    padding-bottom: 1rem;
    font-family: 'GTWalsheimMedium', sans-serif !important;
    margin-bottom: 0;
}

.bold {
    font-weight: bold;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.m-50 {
    margin: 50px !important;
}

.m-10 {
    margin: 10px !important;
}

.ml-35 {
    margin-left: 35px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.pad-20 {
    padding: 20px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.no-pad {
    padding: 0 !important;
}

.no-marg {
    margin: 0 !important;
}

.p-rel {
    position: relative;
}

.p-abs {
    position: absolute;
}

.pt-10 {
    padding-top: 10px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.pt-15 {
    padding-top: 15px !important;
}

.pb-15 {
    padding-bottom: 15px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pt-60 {
    padding-top: 6rem !important;
}

.pt-30 {
    padding-top: 3rem !important;
}

.pt-40 {
    padding-top: 4rem !important;
}

.pt-20 {
    padding-top: 2rem !important;
}

.pt-78 {
    padding-top: 7.8rem !important;
}

.mb-20 {
    margin-bottom: 2rem !important;
}

.mb-50 {
    margin-bottom: 5rem !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 1rem !important;
}

.mtrb-12 {
    margin: 1.2rem;
    margin-left: 0;
}


/* Material UI changes */

.main {
    .MuiButtonBase-root-58 {
        height: 60px;
    }

    .MuiTab-root-72 {
        height: 60px;
    }
}






/* --------------- Main Styles --------------- */

/* Login Styles */


/* Home Styles */
.d-flex{
    display: flex;
}
.pos-body {
    overflow-x: auto;
    display: flex;
    background: @background;
}

.page-no {
    text-align: right;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
}

.pos-products-collection {

    .MuiPaper-rounded {
        border-radius: 0;
    }

    //width: 60%;
    .pos-header {
        width: 100%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

        .header-top {
            background: @primary;
            width:auto;  
            display: flex;
            align-items: center;     
            
            .header-right-sec{
                display: flex;
            align-items: center;    
            }
        }
    }

    .breadcrumbs {
        width: 100%;
        height: 35%;
        background: @primary-l;
    }

    .product-catogories {
        // margin: 10px 0;
        display: flex;
        overflow-x: auto;
        padding-bottom: 10px;

        .each-tile {
            min-height: 40px;
            height: 40px;
        }

        .category-text {
            font-size: 16px;
            margin: 0 auto;
            align-self: center;
        }
    }

    .each-tile {
        position: relative;
        width: 31%;
        min-width: 28%;
        border-radius: 4px;
        margin: 1%;
        // padding: 10px;
        min-height: 50px;
        height: 120px;
        //max-height: fit-content;
        display: flex;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

        .product-image {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 4px 0 0 4px;
            img{
                width: 200%;
            }
        }
        .product-info{
            width: 69%;
            padding: 3%;
        }
    }

    .blue-background {
        background: @primary-d;
        color: @primary-text;
    }

    .white-background {
        background: @background-white;
        color: @secondary-text;
    }

    .pos-products {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;

        .truncate {
            width: 80%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .added-item-position {
            top: 0;
            left: 0;
        }

        .added-item-count {
            background: @primary-l;
            border-radius: 4px 0 10px 0;
            padding: 10px;
            color: @primary-text;
        }

        .each-card-name {
            font-size: 0.9em;
            color: @soft-text;
        }

        .each-card-code-head {
            font-size: 0.7em;
            color: @soft-text;
        }

        .each-card-code {
            font-size: 0.7em;
            color: @soft-text;
        }

        .each-card-price {
            padding-top: 30px;
            justify-content: space-between;
            align-items: center;
        }

        .each-card-more {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 25px;
            height: 25px;
            cursor: pointer;
            display: inline-block;
        }

        .indicator {
            width: 15px;
            height: 15px;
            background: #ff000096;
            border-radius: 100%;
        }

    }
}

.pos-checkout {
    width: 35%;
    background: @background-white;
    box-shadow: 0px 0px 6px 3px #afafaf;
    position: relative;

    .order-amount-section{
        position: absolute;bottom: 0;
        padding: 10px;
        left: 0;
        right: 0;
    }

    .MuiTabs-root {
        height: 60px;
        min-height: 60px;    
        
        .MuiTab-fullWidth{
            min-height: 60px;
        }
    }
    
    .btnprimary{
        background-color: #15ab79;
        box-shadow: none;
        border: none;
        color: rgba(255, 255, 255, 1);
        padding: 15px 30px;
        font-size: 1rem;
    }

    .btnsecondary{
        background-color: #444343;
        box-shadow: none;
        border: none;
        color: rgba(255, 255, 255, 1);
        padding: 15px 30px;
        font-size: 1rem;
    }

    .MuiTab-textColorPrimary.MuiTab-selected {
        color: #fff;
        background: #267b8a;
    }

    .MuiPrivateTabIndicator-colorPrimary{
        display: none;
    }

    .pos-header {
        width: 100%;
        height: 60px;
        background: @background;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

        .checkout-tabs {
            display: flex;
            height: 60px;

            .each-tab {
                flex: 1;
                margin: 0 auto;
                align-self: center;
                text-align: center;
                border-right: 1px solid black;
            }
        }
    }

    

    .button-section {
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;
    }

    .MuiTypography-root{
        padding: 10px !important;
    }

    .orders-section {
        position: relative;
        height: calc(100vh - 60px);
        .cart-items {
            display: flex;
            justify-content: space-between;
            font-size: 1.3em;
            padding: 15px;
            align-items: center;
           
        }

        .items-section {
            overflow-y: auto;
            padding: 10px;
            background: @background-l;

            .each-checkout-item {
                .each-product-des {
                    padding: 0;

                    .des-first-part {
                        width: 70%;
                    }

                    .title {
                        font-size: 1.1em;
                        color: @softer-text;
                        padding-left: 20px;
                    }

                    .each-product-price {
                        font-size: 1.2em;
                        color: @soft-text;
                    }

                    .each-product-reg-price {
                        font-size: 0.75em;
                        color: @softer-text;
                    }
                }

                .quantity {
                    font-size: 1.4em;
                    padding: 0 10px;
                }

                .expanded-options {
                    .option-title {
                        font-size: 0.8em;
                        color: @soft-text;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    .calculation-section {
        //border-top: 1px solid @soft-text;
        border-bottom: 1px solid @soft-text;

        .calc-first-part {
            padding: 10px;
            width: 50%;

            .cart-details {
                align-self: flex-end;
                width: 100%;

                .cart-each-details {
                    display: flex;
                    justify-content: space-between;
                    padding: 3px 0;

                    .cart-title {
                        width: 50%;
                        font-size: 0.9em;
                        color: @soft-text;
                    }

                    .cart-amount {
                        font-size: 0.9em;
                        color: @soft-text;
                    }
                }
            }
        }

        .calc-second-part {
            margin: 10px;
            padding-left: 15px;
            width: 50%;
            border-left: 1px solid @soft-text;

            .cart-details {
                align-self: flex-end;
                width: 100%;

                .cart-each-details {
                    display: flex;
                    justify-content: space-between;
                    padding: 3px 0;

                    .cart-title {
                        width: 50%;
                        font-size: 0.9em;
                        color: @soft-text;
                    }

                    .cart-amount {
                        font-size: 0.9em;
                        color: @soft-text;
                    }
                }
            }

            .cart-total {
                align-self: flex-end;
                font-weight: bold;
                width: 100%;
                justify-content: space-between;
                display: flex;

                .total-text {
                    font-size: 1.4em;
                    width: 50%;
                    color: @soft-text;
                }

                .total-amount {
                    font-size: 1.5em;
                    color: @soft-text;
                }
            }
        }
    }

    .customer-section {
        .customer-main {
            padding: 10px;

            .search-section {
                .add-customer {
                    width: 20%;
                    font-size: 2em;
                    font-weight: bold;
                }
            }

            .customer-info {
                margin: 20px 0;
                display: flex;
                flex-wrap: wrap;

                .each-info {
                    padding: 10px 0;
                    margin-right: 10%;
                    width: 40%;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                    .info-title {
                        color: @softer-text;
                        font-size: 0.9em;
                    }

                    .info-data {
                        color: @soft-text;
                    }
                }
            }

            .customer-billing-info {
                .each-info {
                    padding: 10px 0;
                    margin-right: 10%;

                    .info-title {
                        color: @softer-text;
                        font-size: 0.9em;
                    }

                    .info-data {
                        color: @soft-text;
                    }
                }
            }
        }
    }

    .payment-section {
        background: @background;

        .section-heading {
            font-size: 1.4em;
            color: @soft-text;
            padding: 10px;

        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            background: @background-white;
            min-height: 50px;
            width: 80%;
            align-self: center;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
        }

        .customer-summary {
            padding: 20px 0;
        }

        .payment-summary {
            padding: 20px 0;

            .summary-area {
                justify-content: space-between;

                .each-detail {
                    width: 25%;
                }

                .summary-money {
                    font-size: 1.2em;
                    color: @soft-text;
                }
            }

            .total-area {
                justify-content: flex-end;
                align-items: flex-end;
                padding: 15px;

                .payment-total {
                    font-size: 2em;
                }
            }

            .summary-title {
                font-size: 0.8em;
                color: @softer-text;
                padding: 10px 0 3px 0;
            }
        }
    }

}

/* On Hold Dialogue */
.on-hold-section {
    background: @background;
    height: 100%;

    .on-hold-header {
        display: flex;
        align-items: center;
        height: 50px;
        background: @primary-d;
        color: @primary-text;
        font-size: 1.3em;
    }

    .card {
        background: @background-white;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 10px;
        min-height: 50px;
        padding: 20px;
        width: 20%;

        .card-title {
            font-size: 1.2em;
            color: @soft-text;
        }

        .des {
            padding: 5px;

        }

        .des-title {
            font-size: 0.8em;
            color: @softer-text;
            padding: 10px 0 3px 0;
        }
    }
}

/* Discount Dialogue */
// ! Need to change the keypad UI
.discount-keypad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.discount-keys {
    display: flex;
    justify-content: c2nter;
    align-items: center;
    width: 25%;
    margin: 5px;
    padding: 15px;
    border: 1px solid #000;
    font-size: 1.2em;
    font-weight: bold;

}

.pos-payment {
    .card {
        background: @background-white;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 10px;
        min-height: 50px;
        padding: 20px;
    }

    .card-title {
        font-size: 1.2em;
        font-weight: bold;
    }

    .soft-text {
        color: rgba(0, 0, 0, 0.7)
    }

    .payment-card {
        .each-payment-method {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 25%;
            min-height: 120px;
            border: 2px solid @softer-text;
            margin: 20px 10px 10px 10px;
            font-weight: bold;
        }
    }

    .gift-card {
        min-height: 100px;
    }

    .transaction-card {
        width: 100%;
        min-height: 200px;

        .default-card-pay {
            .pay-button {
                border: 1px solid @softer-text;
                padding: 10px 20px;
                font-size: 1.2em;
                color: @soft-text
            }
        }
    }

    .numpad-card {
        width: 100%;
        background: @primary-d;
        color: @primary-text;

        .key {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            border-radius: 5px;
            border: 2px solid rgba(255, 255, 255, 0.8);
        }

        .big-key {
            width: 59%;
            margin: 1%;
        }

        .small-key {
            width: 28%;
            margin: 1%;
        }
    }

}

.session-section {
    background: @background;
    height: 100%;

    .session-header {
        display: flex;
        align-items: center;
        height: 50px;
        background: @primary-d;
        color: @primary-text;
        font-size: 1.3em;
    }

    
}
.session {
    background: @background-white;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    min-height: 50px;
    padding: 15px 5px;
    width: 100%;
    cursor: pointer;

    .first-row {
        display: flex;
        justify-content: space-around;
    }
    
    .second-row {
        display: flex;
        justify-content: flex-start;
        margin: 5px 0px 0px 45px;
    }


    .open-tag {
        padding: 2px 10px;
        color: white;
        background-color: green;
        border-radius: 2px;
    }
}

.session-date {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.session:hover {
    background-color:#3f51b5;
    color: white;
    .open-tag {
        background-color: rgb(14, 240, 228);
    }
}

// style for session details

.secondary-color{
    color:#777;
    font-weight:bold;
}

.tertiary-color{
    background-color: @background-white;
    color:#666;
}

.primary-color{
    color:blue;
    font-weight:bold;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align:left;
}

.text-center{
    text-align:center;
}

.date-header{
    text-align: center;
    box-shadow:0px 4px 4px #d8d8d8;
    padding:2%;
    font-size:120%;
    margin-bottom: 2%;
}

.staff-row{
    padding:0.2% 2%;
}

.pos-row{
    padding:1% 2% 2% 2%;
    border-bottom:1px solid #d1d1d1;
}

.opening-bal-row, .trans-row-1{
    padding:1% 2% 1% 2%;
   
}

.real-closing-bal, .difference{
    border-bottom:1px solid #d1d1d1;
    padding-bottom: 1.5%;
}

.trans-row-2{
    padding:0 2% 0.8% 2%;
}

.closing-bal{
    padding:0% 2% 2% 2%;
    border-bottom: 1px solid #d1d1d1;
}

.cash-payment-row{
    padding:2%;
}

.print-row{
    margin-top: 2%;
    margin-bottom: 1%;
}

.printBtn, .endBtn{
    width:100%;
}

//style for history section
.history-section {
    background: @background;
    height: 100%;

    .history-header {
        display: flex;
        align-items: center;
        height: 50px;
        background: @primary-d;
        color: @primary-text;
        font-size: 1.3em;
    }

    .history-parent {
        margin: 10px 10px;
    }
    .history-content {
        margin: 10px 10px;
    }

    .card {
        background: @background-white;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 10px;
        min-height: 50px;
        padding: 6px;
        width: 100%;

        .card-title {
            font-size: 1.2em;
            color: @soft-text;
        }

        .des {
            padding: 5px;

        }

        .des-title {
            font-size: 0.8em;
            color: @softer-text;
            padding: 10px 0 3px 0;
        }
    }
}

.active {
    background: skyblue;
}
//This is style for session container
.session-parent{
    margin:10px 10px;
    .session-header{
        display: flex;
        align-items: center;
        height: 50px;
        background: @primary-d;
        color: @primary-text;
        font-size: 1.3em;
    }

    .session-button-style{
        position: absolute;
        bottom:30px
    }
    .mui-table{
        tr{
            td{
                padding:1px 10px;
            }
        }
    }
    .mui-row{
        display:flex;
    }
    .numpad-box{
        display:flex;
        flex-wrap:wrap;
        align-items:center;
    }
    .middle{
        width:100%;
    }
    .numpad-card{
        width: 100%;
        background: @primary-d;
        color: @primary-text;

        .key{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            border-radius: 5px;
            border: 2px solid rgba(255,255,255,0.8);
        }
        .big-key{
            width: 59%;
            margin: 1%;
        }
        .small-key{
            width: 28%;
            margin: 1%;
        }
    }
}

.pop-img{
    border-right:solid 1px #DDD;
}
.pop-img img{
    width:100%;
}


.offline-transaction{
    .section-heading {
        font-size: 1.4em;
        color: @soft-text;
        padding: 10px;

    }
    .payment-summary {
        padding: 20px 0;

        .summary-area {
            justify-content: space-between;

            .each-detail {
               display: flex;
               justify-content:space-between;
               
            }

            .summary-money {
                font-size: 1.2em;
                color: @soft-text;
            }
        }

}
}