.strainTitle{
  font-weight: bold;
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    -webkit-transition: .4s;
    transition: .4s;
    border: solid 0.5px;
    border-color: #ca2222;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider::before {
    background-color: #2ab934;
    left: 14px;
  }
  
  
  input:checked + .slider {
    background-color: white;
    border-color:green;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
  }
  
  /*------ ADDED CSS ---------*/
  .on
  {
    display: none;
  }
  .on{
    transform: translate(-80%,-50%);
  } 
  .off{
    transform: translate(-50%,-50%);
  }
  .on
  {
    color: green;
    position: absolute;
    /* transform: translate(-50%,-50%); */
    top: 50%;
    left: 43px;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }
  
   .off
  {
    color: #ca2222;
    position: absolute;
    /* transform: translate(-50%,-50%); */
    top: 50%;
    left: 48px;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }

  input:checked+ .slider .on
  {display: block;}
  
  input:checked + .slider .off
  {display: none;}
  
  /*--------- END --------*/
  
  /* Rounded sliders */
  /* .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;} */

  /* circle and lines*/
  /*  */

/*   div */
.dotsandlines {
	display: table;
	width: 100%;
	margin-bottom: 60px;
}
.circle-contain, .line {
  display: table-cell;
}
.circle-contain {
  width: 1px;
}
.circle {
  background: white;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  position: relative;
  top: 12.5px;
}
.line {
  border-bottom: 1px solid #bbb;
  /* border-bottom: 1px solid #0af; */
}

.circle.special {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5bc0de+0,1bacba+100 */
background: rgb(91,192,222); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(91,192,222,1) 0%, rgba(27,172,186,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(91,192,222,1) 0%,rgba(27,172,186,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(91,192,222,1) 0%,rgba(27,172,186,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bc0de', endColorstr='#1bacba',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border: 1px solid #1a8daf;
  box-shadow: 0px 0px 11px #aaa;
}
.strainName {
  /* font-family: 'Avenir Roman', 'Avenir'; */
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  /* font-weight: bold; */
  /* padding-left: 15px; */
  /* padding-top: 15px; */
  padding-bottom: 4px;
  /* border-bottom: solid 1px #ddd; */
  color: #666;
}

.addNew{
  padding-top:20px;
}

.namesCircle{
  font-family: 'Avenir Roman', 'Avenir';
font-weight: 400;
font-style: normal;
color: #3399FF;
text-align: center;
}

.labelSpanClass{
font-weight: 400;
font-style: normal;
padding-top:5px;
padding-left: 10px;
}
.Select.is-focused > .Select-control, .Select.is-focused:not(.is-open) > .Select-control{
  background: transparent;
}

@media(max-width:767px){
  .circle {
      width: 20px;
      height: 20px;
      top: 9.5px;
  }
}

